.home20 {
  position: relative;
  line-height: 11.47px;
}
.home-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
  color: var(--color-dodgerblue-200);
}
.assignments25,
.classes20,
.school21 {
  position: relative;
  line-height: 11.47px;
}
.reports25 {
  font-family: var(--font-biryani);
}
.account19,
.reports25 {
  position: relative;
  line-height: 11.47px;
}
.login-credentials-frame {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-dodgerblue-200);
  box-sizing: border-box;
  margin-left: -69px;
}
.frame-c {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
}
.polygon-shape-icon4 {
  height: 8.1px;
  width: 15px;
  position: relative;
  object-fit: contain;
}
.line-a {
  height: 13px;
  width: 87px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 3px;
}
.frame-a1,
.input-frame1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-a1 {
  width: 592px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-frame1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-base);
}
.input-frame1,
.login-password1,
.notifications1,
.personal-information,
.your-settings1 {
  font-family: var(--font-helvetica);
  color: var(--white-ffffff);
  text-align: left;
}
.your-settings1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 700;
}
.login-password1,
.notifications1,
.personal-information {
  position: absolute;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  display: flex;
  align-items: center;
  width: 164px;
}
.personal-information {
  top: 16px;
  left: 44px;
}
.login-password1,
.notifications1 {
  top: 14px;
}
.login-password1 {
  left: 277px;
  z-index: 1;
}
.notifications1 {
  left: 478px;
}
.line-c {
  position: absolute;
  top: 41px;
  left: 0;
  border-top: 1px solid var(--white-ffffff);
  box-sizing: border-box;
  width: 1025px;
  height: 1px;
}
.group-icon25 {
  position: absolute;
  top: 11px;
  left: 13.2px;
  width: 22.8px;
  height: 19px;
}
.settingspanel-child {
  align-self: stretch;
  height: 40px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
  z-index: 0;
}
.settingspanel-item {
  align-self: stretch;
  height: 3px;
  position: relative;
  background-color: var(--color-dodgerblue-300);
  z-index: 1;
}
.vector-icon124 {
  width: 17px;
  height: 22px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 11px);
  left: 13px;
  z-index: 1;
}
.settingspanel {
  cursor: pointer;
  border: 0;
  padding: var(--padding-18xl) 0 0;
  background-color: var(--color-gray-300);
  position: absolute;
  top: 0;
  left: 241px;
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.group-icon26 {
  position: absolute;
  top: 9.7px;
  left: 451px;
  width: 16px;
  height: 20.3px;
}
.group-a {
  height: 41px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.line-b {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.login-methods {
  margin: 0;
  position: relative;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--font-helvetica);
  color: var(--white-ffffff);
  text-align: left;
}
.connect-text,
.loginmethods {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.connect-text {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: 27px 0;
  max-width: 100%;
}
.frame-child113 {
  height: 42px;
  width: 42px;
  position: relative;
}
.google {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  font-family: var(--font-helvetica);
  color: var(--white-ffffff);
  text-align: left;
}
.frame-parent60,
.googlelogin {
  display: flex;
  justify-content: flex-start;
}
.googlelogin {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.frame-parent60 {
  width: 217px;
  flex-direction: row;
  align-items: center;
  gap: 0 11px;
}
.dividerline-child {
  height: 46px;
  width: 120px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue-300);
  display: none;
}
.connect {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  font-family: var(--font-helvetica);
  color: var(--white-ffffff);
  text-align: left;
  z-index: 1;
}
.dividerline,
.frame-parent59 {
  display: flex;
  flex-direction: row;
}
.dividerline {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-17xl) var(--padding-lg)
    var(--padding-5xl);
  background-color: var(--color-dodgerblue-300);
  border-radius: var(--br-7xs);
  align-items: center;
  justify-content: flex-start;
}
.dividerline:hover,
.passwordinputgroup:hover {
  background-color: var(--color-cornflowerblue-100);
}
.frame-parent59 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lineseparator-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.images-1-icon1 {
  height: 34px;
  width: 34px;
  position: relative;
  object-fit: cover;
}
.microsoft {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  font-family: var(--font-helvetica);
  color: var(--white-ffffff);
  text-align: left;
}
.microsoftlogo,
.microsoftlogo-wrapper {
  display: flex;
  justify-content: flex-start;
}
.microsoftlogo {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 0 15px;
}
.microsoftlogo-wrapper {
  width: 213px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.passwordinputgroup-child {
  height: 46px;
  width: 120px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue-300);
  display: none;
}
.connect1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  font-family: var(--font-helvetica);
  color: var(--white-ffffff);
  text-align: left;
  z-index: 1;
}
.passwordinputgroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-17xl) var(--padding-lg)
    var(--padding-5xl);
  background-color: var(--color-dodgerblue-300);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent58,
.imagesframe {
  align-self: stretch;
  display: flex;
}
.imagesframe {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent58 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 18px 0;
}
.change-password,
.current-password {
  font-family: var(--font-helvetica);
  position: relative;
  color: var(--white-ffffff);
  text-align: left;
}
.change-password {
  margin: 0;
  font-size: var(--font-size-7xl);
  font-weight: 700;
}
.current-password {
  width: 164px;
  border: 0;
  outline: 0;
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 10px;
  line-height: 11.47px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.verifynewpassword {
  align-self: stretch;
  height: 44px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
}
.currentpasswordrectangle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  gap: 8px 0;
}
.new-password {
  width: 164px;
  border: 0;
  outline: 0;
  font-family: var(--font-helvetica);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 10px;
  position: relative;
  line-height: 11.47px;
  color: var(--white-ffffff);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.currentpasswordrectangle-child {
  align-self: stretch;
  height: 44px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
}
.currentpasswordrectangle1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  gap: 8px 0;
}
.verify-new-password {
  width: 164px;
  border: 0;
  outline: 0;
  font-family: var(--font-helvetica);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 10px;
  position: relative;
  line-height: 11.47px;
  color: var(--white-ffffff);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.currentpasswordrectangle-item {
  align-self: stretch;
  height: 44px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
}
.currentpasswordrectangle2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  gap: 6px 0;
}
.forgotyourpasswordtext-child {
  height: 46px;
  width: 86px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue-400);
  display: none;
}
.save {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  font-family: var(--font-helvetica);
  color: var(--color-gray-1000);
  text-align: left;
  z-index: 1;
}
.forgotyourpasswordtext {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-6xl) var(--padding-base)
    var(--padding-5xl);
  background-color: var(--color-dodgerblue-400);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forgotyourpasswordtext:hover {
  background-color: rgba(51, 161, 255, 0.3);
}
.savebutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.forgot-your-password {
  width: 182px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 11.47px;
  font-family: var(--font-helvetica);
  color: var(--color-dodgerblue-300);
  text-align: left;
  display: flex;
  align-items: center;
}
.connectbutton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px 0;
}
.frame-e {
  margin: 0;
  width: 1028px;
  flex-direction: column;
  align-items: flex-end;
  gap: 37px 0;
  max-width: 100%;
}
.frame-d,
.frame-e,
.login-and-password {
  display: flex;
  justify-content: flex-start;
}
.frame-d {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.login-and-password {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-14xl) var(--padding-25xl) 302px var(--padding-187xl);
  box-sizing: border-box;
  gap: 64px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .your-settings1 {
    font-size: var(--font-size-5xl);
  }
  .login-and-password {
    gap: 64px 0;
    padding-left: var(--padding-84xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .frame-e {
    gap: 37px 0;
  }
}
@media screen and (max-width: 450px) {
  .frame-a1 {
    display: none;
  }
  .your-settings1 {
    font-size: var(--font-size-lg);
  }
  .login-methods {
    font-size: var(--font-size-2xl);
  }
  .frame-parent59,
  .imagesframe {
    flex-wrap: wrap;
  }
  .change-password {
    font-size: var(--font-size-2xl);
  }
  .login-and-password {
    gap: 64px 0;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
